.paginate-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.8rem;
    gap: 1rem;

    .page-num {
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }

    .active {
        background-color: var(--color-primary-dark);
        color: var(--color-white);
    }
}