:root {
    --color-black: black;

    --color-grey-light: #ced4da;
    --color-grey-light-2: #f7f7f8;
    --color-grey-dark: #6c757d;
    --color-grey-dark-2: #343a40;

    --color-white: #ffff;
    --color-white-1: #f8f9fa;

    --color-primary: #0077b6;
    --color-primary-dark: #023e8a;
    --color-primary-light: #caf0f8;
}